.content {
  min-width: 320px;
  max-width: 865px;
  height: 820px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}
.content__input {
  display: none;
}
.content__label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}
.content__label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
.content__label:hover {
  color: #888;
  cursor: pointer;
}
.content input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}
.content .content-hide {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}
.content .content-hide .form {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 300px;
  padding: 0 5px;
}
.content .content-hide .form__label {
  margin-bottom: 3px;
}
.content .content-hide .form__input {
  padding: 3px 5px;
  margin-bottom: 5px;
}
.content .content-hide .form__btn {
  cursor: pointer;
  border: 1px solid #000;
  background-color: #ccc;
  border-radius: 3px;
  padding: 10px 10px;
  width: 50%;
  text-transform: uppercase;
  margin: 10px auto 0;
}
.content .content-hide .del-circle {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.content .content-hide .del-circle__select {
  width: 25%;
  padding: 5px 6px;
  margin-bottom: 20px;
}
.content .content-hide .del-circle__btn {
  border: 1px solid #212121;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px 10px;
}
.content #tab1:checked ~ #content1,
.content #tab2:checked ~ #content2,
.content #tab3:checked ~ #content3,
.content #tab4:checked ~ #content4 {
  display: block;
}
@media screen and (max-width: 865px) {
  .content__label {
    font-size: 0;
  }
  .content__label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .content__label {
    padding: 15px;
  }
}
.circle__title {
  font-weight: 600;
  line-height: 25px;
}
.circle-list {
  font-weight: 300;
}
